# === ENTORNO PYTHON ===
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === CONFIGURACIONES LOCALES ===
.env
.env.*

# === MODELOS DE VOSK ===
vosk-model-*/  # Cubre cualquier modelo descargado en carpeta vosk-model...

# === ARCHIVOS TEMPORALES Y AUDIO ===
*.mp3
*.wav
*.ogg
*.tmp
*.temp
*.DS_Store
*.swp

# === TRANSCRIPCIONES TEMPORALES ===
transcripciones_temp.json

# === BACKUP O ARCHIVOS AUXILIARES ===
*.bak
*.old
*.save

# === IDEs comunes ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
